# fly.toml app configuration file generated for aitriage on 2025-12-18T16:44:09-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'aitriage'
primary_region = 'iad'

[build]

[env]
  AITRIAGE_CORS_ORIGINS = 'https://aiagent-portfolio.mattevans.cloud'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '5s'
    method = 'get'
    path = '/api/incidents'
    protocol = 'http'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
